---
import { Image } from 'astro:assets';
---

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-46">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Portfolio</span>
         
      </div>
      <div class="cs-image-group">
          <!-- Image 1 -->
          <div class="cs-item cs-item-1">
              <picture class="cs-picture">
                  <source media="(max-width: 600px)" srcset="https://recipe-wrangle-storage.s3.eu-west-2.amazonaws.com/recipeWrangleLogo.png">
                  <source media="(min-width: 601px)" srcset="https://recipe-wrangle-storage.s3.eu-west-2.amazonaws.com/recipeWrangleLogo.png">
                  <Image loading="lazy" decoding="async" src="https://recipe-wrangle-storage.s3.eu-west-2.amazonaws.com/recipeWrangleLogo.png" alt="RecipeWrangle logo" width="529" height="256"/>
              </picture>
              <!-- Hover Box -->
              <div class="cs-hover-box">
                  <h3 class="cs-heading3">RecipeWrangle</h3>
                  <span class="cs-subtitle"></span>
                  <a class="cs-link" aria-label="read more about this project" href="https://www.recipewrangle.com" target='_blank'>
                      <!-- SVG Arrow-->
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.01 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13H16.01V14.79C16.01 15.24 16.55 15.46 16.86 15.14L19.64 12.35C19.83 12.15 19.83 11.84 19.64 11.64L16.86 8.85C16.55 8.53 16.01 8.76 16.01 9.2V11Z" fill="white" />
                      </svg>
                      See more
                  </a>
              </div>
          </div>
          <!-- Image 2 -->
          <div class="cs-item cs-item-2">
              <picture class="cs-picture">
                  <source media="(max-width: 600px)" srcset="https://recipe-wrangle-storage.s3.eu-west-2.amazonaws.com/pizza.svg">
                  <source media="(min-width: 601px)" srcset="https://recipe-wrangle-storage.s3.eu-west-2.amazonaws.com/pizza.svg">
                  <Image loading="lazy" decoding="async" src="https://recipe-wrangle-storage.s3.eu-west-2.amazonaws.com/pizza.svg" alt="Pizza wallet logo" width="529" height="256"/>
              </picture>
              <!-- Hover Box -->
              <div class="cs-hover-box">
                  <h3 class="cs-heading3">Pizza wallet</h3>
                  <span class="cs-subtitle"></span>
                  <a class="cs-link" aria-label="read more about this project" href="https://www.pizzawallet.io" target='_blank'>
                      <!-- SVG Arrow-->
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.01 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13H16.01V14.79C16.01 15.24 16.55 15.46 16.86 15.14L19.64 12.35C19.83 12.15 19.83 11.84 19.64 11.64L16.86 8.85C16.55 8.53 16.01 8.76 16.01 9.2V11Z" fill="white" />
                      </svg>
                      Read more
                  </a>
              </div>
          </div>
  
      
      </div>
     
  </div>
</section>
                              
<style>
  /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-46 {
        padding: var(--sectionPadding);
        position: relative;
    }
    
    #gallery-46 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #gallery-46 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

 
    

#gallery-46 .cs-image-group {
    width: 70%;
    margin: 0 auto; /* Center the grid */
  
    align-items: center; /* Align items horizontally */
    display: flex; /* Change to flex container */
    flex-wrap: nowrap; /* Prevent wrapping to next line */

    flex-direction: column; 
    justify-content: space-between; /* Adjust space between images */
    align-items: center; /* Align items vertically */
    

    gap: clamp(0.5rem, 1.5vw, 1.25rem);
}



    #gallery-46 .cs-item {
        /* width: 100%; */
        width: 70%;
        margin: 0;
        aspect-ratio: 1;
      
        display: block;
        position: relative;
        /* prevents image from overflowing the container on hover */
        overflow: hidden;
    }
    #gallery-46 .cs-item:hover .cs-picture img {
        transform: scale(1.1);
    }
    #gallery-46 .cs-item:hover .cs-hover-box {
        opacity: 1;
        pointer-events: all;
    }
    #gallery-46 .cs-item:hover .cs-heading3 {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-46 .cs-item:hover .cs-subtitle {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-46 .cs-item:hover .cs-link {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-46 .cs-picture {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #gallery-46 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.6s;
    }
    #gallery-46 .cs-item-1 {
        grid-column: 1 / span 12;
        grid-row: 1 / 2;
        aspect-ratio: 2.07594937;
    }
    /* #gallery-46 .cs-item-2 {
        grid-column: 1 / span 12;
        grid-row: 1 / 2;
        aspect-ratio: 2.07594937;
    }
    #gallery-46 .cs-item-3 {
        grid-column: 1 / span 12;
        grid-row: 1 / 2;
        aspect-ratio: 2.07594937;
    } */
    /* #gallery-46 .cs-item-5 {
        grid-column: 7 / span 6;
        grid-row: 3 / span 2;
        aspect-ratio: initial;
    } */
    #gallery-46 .cs-hover-box {
        height: 100%;
        width: 100%;
        padding: 1rem 0.625rem;
        opacity: 0;
        position: absolute;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* Prevents padding from adding to the height & width */
        box-sizing: border-box;
        transition: opacity 0.3s;
        /* prevent it from interacting with the mouse so we can add a hover
            effect on the cs-item parent */
        pointer-events: none;
        position: relative;
    }
    #gallery-46 .cs-hover-box:before {
        /* top right box */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0.9;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
    }
    #gallery-46 .cs-heading3 {
        /* 16px - 20px */
        font-size: clamp(1rem, 5vw, 1.25rem);
        line-height: 1.2em;
        margin: 0;
        margin-bottom: 0.75rem;
        color: var(--bodyTextColorWhite);
        opacity: 0;
        /* starting point is 10px down from its original point */
        transform: translateY(0.625rem);
        transition:
            opacity 0.3s,
            transform 0.5s;
    }
    #gallery-46 .cs-subtitle {
        /* 13px - 15px */
        font-size: clamp(0.8125rem, 5vw, 0.9375rem);
        line-height: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        /* Pushes the link to the bottom of the flexbox */
        margin-bottom: auto;
        color: var(--bodyTextColorWhite);
        opacity: 0;
        /* starting point is 10px down from its original point */
        transform: translateY(0.625rem);
        display: block;
        transition:
            opacity 0.3s,
            transform 0.5s;
        transition-delay: 0.1s;
    }
    #gallery-46 .cs-link {
        font-size: 0.9375rem;
        line-height: 1.5em;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        opacity: 0;
        /* starting point is 10px down from its original point */
        transform: translateY(0.625rem);
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition:
            opacity 0.3s,
            transform 0.5s;
        transition-delay: 0.3s;
    }
    #gallery-46 .cs-link:hover:before {
        width: 100%;
    }
    #gallery-46 .cs-link:before {
        content: "";
        position: absolute;
        display: block;
        height: 0.125rem;
        width: 0%;
        background: currentColor;
        opacity: 1;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
    #gallery-46 .cs-link svg {
        margin-right: 0.5rem;
    }
    #gallery-46 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #gallery-46 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #gallery-46 .cs-button-solid:hover:before {
        width: 100%;
    }
    #gallery-46 .cs-item-1 {
        grid-column: 1 / span 6;
        grid-row: 1;
    }
    #gallery-46 .cs-item-2 {
        grid-column: span 6;
        grid-row: 2;
    }
    #gallery-46 .cs-item-3 {
        grid-column: span 6;
        grid-row: 3;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-46 .cs-item {
        grid-column: span 3;
    }
    #gallery-46 .cs-item-1 {
        grid-column: 1 / span 6;
        grid-row: 1;
    }
    #gallery-46 .cs-item-2 {
        grid-column: span 6;
        grid-row: 2;
    }
    #gallery-46 .cs-item-3 {
        grid-column: span 6;
        grid-row: 3;
    }
   
}

                                
</style>